$colorWhite: #ffffff;
$colorBlack: #000;
$colorLightGrey: #E5E5E5;
$colorLightPurpleBlue: #8484ff;
$colorShadeOfCyanBlue: #3f729c;

$galleryWidth: 900px;
$buttonArrowPadding:  5px;

$buttonLeftPadding:  15px 13px 15px 17px;
$buttonRightPadding:  15px 17px 15px 13px;

$buttonArrowBorderW: 0 3px 3px 0;
$containerPadding: 30px;

$currentBacklightBoxShadow: 0px 0px 20px 10px;
$primaryBacklightBoxShadow: 0px 17px 30px 0px;

$countZero: 0;